config SOC_N32905
	bool
	select CPU_ARM926T
	select PINCTRL_N32905

config SOC_N32926
	bool
	select CPU_ARM926T
	select PINCTRL_N32926

config ARCH_N329
	bool "Nuvoton N329XX support"
	depends on ARCH_MULTI_V5
	select CLKSRC_MMIO
	select PINCTRL
	select SOC_BUS
	select SOC_N32905
	select SOC_N32926
	help
	  Support for Nuvoton N329XX-based family of processors
