config SOC_N32905
	bool
	select CPU_ARM926T

config ARCH_N329
	bool "Nuvoton N329XX support"
	depends on ARCH_MULTI_V5
	select CLKSRC_MMIO
	select PINCTRL
	select SOC_BUS
	select SOC_N32905
	help
	  Support for Nuvoton N329XX-based family of processors

if ARCH_N329

choice
	prompt "External Crystal"
	default N329_EXTCLK_12M

config N329_EXTCLK_12M
	bool "12MHz"

config N329_EXTCLK_27M
	bool "27MHz"

endchoice

endif
