/*
 * Copyright (C) 2014 Michael P. Thompson, Inc. All Rights Reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */

/dts-v1/;
#include "n32905.dtsi"

/ {
	model = "N32905 Mcuzone MDK905-EK development board";
	compatible = "nuvoton,n32905-mcuzone", "nuvoton,n32905", "nuvoton,n329";

	ahb@B0000000 {
		uhc@B1009000 {
			pinctrl-names = "default";
			pinctrl-0 = <&usb0_pins>;
			status = "okay";
		};

		mmc0: sd@B1006820 {
			pinctrl-names = "default";
			pinctrl-0 = <&mmc0_pins &mmc0_wp_pin>;
			gpios = <&gpio 0 0>;
			status = "okay";
		};

		nand0: nand@B10068A0 {
			pinctrl-names = "default";
			pinctrl-0 = <&nand0_pins>;
			status = "okay";

			partition@0 {
				label = "part1";
				reg = <0x0 0x100000>;
			};

			partition@100000 {
				label = "part2";
				reg = <0x100000 0x7F00000>;
			};
		};
	};

	apb@B8000000 {
		pinctrl@B8001000 {
			led_pins: led_pins@0 {
				reg = <0>;
				nuvoton,pinmux-ids = <
					N32905_PAD_GPB03__GPIOB_D03
					N32905_PAD_GPB04__GPIOB_D04
					N32905_PAD_GPB05__GPIOB_D05
					N32905_PAD_GPB06__GPIOB_D06
				>;
				nuvoton,pull-up = <N329_PULL_DISABLE>;
			};

			button_pins: button_pins@0 {
				reg = <0>;
				nuvoton,pinmux-ids = <
					N32905_PAD_GPA06__GPIOA_D06
					N32905_PAD_GPB02__GPIOB_D02
				>;
				nuvoton,pull-up = <N329_PULL_DISABLE>;
			};

			mmc0_wp_pin: mmc0-wp-pin@0 {
				reg = <0>;
				nuvoton,pinmux-ids = <
					N32905_PAD_GPA00__GPIOA_D00
				>;
				nuvoton,pull-up = <N329_PULL_DISABLE>;
			};
		};

		uart1: serial@B8008100 {
			pinctrl-names = "default";
			pinctrl-0 = <&uart1_pins>;
			status = "okay";
		};
	};

	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_pins>;

		led0 {
			label ="green:led0";
			gpios = <&gpio 15 1>;
			default-state = "on";
		};

		led1 {
			label ="green:led1";
			gpios = <&gpio 16 1>;
			default-state = "on";
		};

		led2 {
			label ="green:led2";
			gpios = <&gpio 17 1>;
			default-state = "on";
		};

		led3 {
			label ="green:led3";
			gpios = <&gpio 18 1>;
			default-state = "on";
		};
	};

	gpio-buttons {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&button_pins>;

		button0 {
			label = "button0";
			linux,code = <0>;
			gpios = <&gpio 6 0>;
		};

		button1 {
			label = "button1";
			linux,code = <1>;
			gpios = <&gpio 14 0>;
		};
	};
};

