/*
 * Copyright (C) 2014 Michael P. Thompson, Inc. All Rights Reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */

/dts-v1/;
#include "n32905.dtsi"

/ {
	model = "N32905 Mcuzone MDK905-EK development board";
	compatible = "nuvoton,n32905-mcuzone", "nuvoton,n32905", "nuvoton,n329";

	apb@B8000000 {
		pinctrl@B8001000 {
			led_pins: led_pins@0 {
				reg = <0>;
				nuvoton,pinmux-ids = <
					N32905_PAD_GPB03__GPIOB_D03
					N32905_PAD_GPB04__GPIOB_D04
					N32905_PAD_GPB05__GPIOB_D05
					N32905_PAD_GPB06__GPIOB_D06
				>;
				nuvoton,pull-up = <N329_PULL_DISABLE>;
			};
		};

		uart1: serial@B8008100 {
			pinctrl-names = "default";
			pinctrl-0 = <&uart1_pins>;
			status = "okay";
		};
	};

	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_pins>;

		led0 {
			label ="green:led0";
			gpios = <&gpio 15 1>;
			default-state = "on";
		};

		led1 {
			label ="green:led1";
			gpios = <&gpio 16 1>;
			default-state = "on";
		};

		led2 {
			label ="green:led2";
			gpios = <&gpio 17 1>;
			default-state = "on";
		};

		led3 {
			label ="green:led3";
			gpios = <&gpio 18 1>;
			default-state = "on";
		};
	};
};

